{% extends 'basetemp.html' %}

{% block body %}
 <title>farenheit to Celcius</title>
<div class="container mb-3">
    <h3>
        Convert to Farenheit
          <small class="text-muted">Farenheit to Celcius </small>
    </h3>
</div>
<form action="/tempf" method="POST">
<div class="container mb-3">
    <input type="number" class="form-control" name="f" id="f" placeholder="Farenheit">
    <label for="f">Enter temperature in farenheit</label>
</div>
    <div class="container mb-3" >
    <button type="submit" class="btn btn-primary">Submit</button>
</div>

</form>
<p class="container mb-3" >
         {{celcius}}
</p>


{% endblock body %}